.question-item.correct{
    color:green;
}
.question-item.incorrect{
    color:red
}

#alert.open{
    display: block;
}

#alert{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

