*{
    padding: 0;
    margin:0;
}
.form{
    display: flex;
    flex-direction: column;
    gap:20px
}
#button{
    width:100px
}


.correct{
    display: none;
}

.correct.show{
    display: block;
}

.form.hide{
    display: none
}

.incorrect{
    display: none;
    padding: 30px;
    background-color: rgb(235, 102, 102);
    border-radius: 40px;
    margin:10px 10px 10px 10px;
}

.incorrect.show{
    display: block;
}